body{
    font-family:'Oxygen', sans-serif;
}
a{
    text-decoration: none;
}
header{
    background-image: url(../img/fondo.jpg);
    text-align: center;
    background-size: cover;
}
header img{
    margin-top: 25px;
}
h1{
    color:#005677;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 15px;
    padding-top: 15px;
   padding-bottom: 15px;
}
main{
    background-color: white;
    max-width: 1041px;
    margin: 50px auto; 
}
footer{
    background-color: #527b8b;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    color: white;
    padding-top: 15px;
   padding-bottom: 15px;
}
h2{
    background-color: #C4C4C4;
    color: #005677;
    
    font-size: 20px;
  
    line-height: 85%;
    text-align: Left;
    vertical-align: Top;
    padding-top: 15px;
    padding-bottom: 15px;
    letter-spacing: 8px;
    padding-left: 10px;
}

.items{
    font-size: 15px;
    font-weight: 400; 
}
ul{
    line-height: 30px;
   
}
dd{
    line-height: 40px;
  
}
nav{
   height: 50px; 
   
}
.barra{
    text-align: right;
    background-color: #527b8b;
    font-size: 1.5rem;
    padding: 10px;
    color: #C4C4C4;
    padding-right: 70px;
}
i{
   width: 40px;
   
}